@model Page

@{
    ViewData["Title"] = "Store Front";
}
<h1 class="display-4 pb-5 text-center">Your Store</h1>

<div class="row">
        <img src="~/images/storefront.jpg" class="img-fluid rounded mx-auto d-block" width="75%"/>
</div>
